body{
    text-align:center;
    
}
#apps{
    background-color: #faf1a2;
  
}
#mycarousel1{
   background-color: #f7c3c3;
    color:black;
    
}
#mycarousel1 img{
    height: 300px;
    width: 300px;
    margin-top:35px;
}
#mycarousel2{
   background-color: #c4f5f2;
    color:black;
    
}
#mycarousel2 img{
    height: 300px;
    width: 300px;
    margin-top:35px;
}
#next, #prev{
    padding-top: 150px;
}